<%= form_with(model: @document, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.select :category_id, [["カテゴリ−１", 1],["カテゴリー２", 2] ] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>